<p>■概算見積もり：＠<%= @mitsumorikakaku_apiece %>円、合計<%= @mitsumorikakaku %>円</p>
<br>
<p>■内訳</p>

<p>・中身代：＠<%= @nakamidai_apiece %>円、計<%= @nakamidai %>円</p>
<p>・釜工賃：＠<%= @kamakouchin_apiece %>円、計<%= @kamakouchin %>円</p>
<p>　└仕込量：<%= @shikomiryou %>kg</p>
<p>・生産費：＠<%= @seisanhi_apiece %>円、計<%= @seisanhi %>円</p>
<p>・包材費：＠<%= @houzaihi_apiece %>円、計<%= @houzaihi %>円</p>
<p>・管理費：＠<%= @kanrihi_apiece %>円、計<%= @kanrihi %>円</p>
<p>・見積原価合計：＠<%= @mitsumorigenka_apiece %>円、計<%= @mitsumorigenka %>円</p>
<p>・利益：＠<%= @eigyourieki_apiece %>円、計<%= @eigyourieki %>円　※42%</p>
